<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            <div *ngIf="showDiff" class="vbe-mock-debugger">
                <div class="code-area">
                    <div class="code" [innerText]="audit.valueBefore"></div>
                </div>
            </div>
            <div class="vbe-mock-debugger">
                <div class="code-area">
                    <div class="code" [innerText]="audit.valueAfter"></div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="showDiffBox" [(ngModel)]="showDiff">
                    <label class="form-check-label" for="showDiffBox">
                        Show diff
                    </label>
                    <p class="small text-muted">Diffed preview may be distorted if the input contains HTML tags.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <p [innerHTML]="htmlPreview"></p>
                </div>
            </div>
        </div>
    </div>
</div>
