<loading-content [show]="!feature"></loading-content>
<section class="row">
    <h2>{{feature?.title}}</h2>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <p [innerHtml]="feature?.description"></p>
        </div>
        <div class="col-1"></div>
    </div>
</section>

<section *ngIf="(feature?.features?.length ?? 0) > 0 || (feature?.items?.length ?? 0) > 0" class="row text-center mb-3">
    <div class="col-12">
        <img class="ducky my-2 w-10" alt="Rubberduck logo" src="../../assets/vector-ducky-dark.svg" />
    </div>
</section>
<section class="row">
    <!-- subfeatures -->
    <div *ngIf="feature != null && (feature.features?.length ?? 0) > 0" class="col-12">
        <ul class="navbar-nav">
            <li class="nav-item" *ngFor="let subFeature of feature?.features">
                <feature-box *ngIf="!feature.isHidden" [parentFeatureName]="feature.name" [feature]="subFeature" [quickFixes]="quickFixes" [hasOwnDetailsPage]="subFeature.name=='Inspections' || subFeature.name=='QuickFixes' || subFeature.name=='Annotations'"></feature-box>
            </li>
        </ul>
    </div>
    <!-- xmldoc items -->
    <div *ngIf="(feature?.items?.length ?? 0) > 0" class="col-12">
        <h3>Search &amp; Filter</h3>
        <small class="small text-black-50">Showing {{filteredItems.length}} of {{feature!.items.length}} items</small>
        <div class="row my-3">
            <div class="col-8">
                <div *ngIf="feature?.name == 'Inspections'" class="text-start">
                    <h6>Default Severity</h6>
                    <button class="btn btn-outline-dark rounded-pill mx-1" role="button" [ngClass]="{'btn-ducky': filterState.donotshow}" (click)="filterState.donotshow = !filterState.donotshow; onFilter();">DoNotShow</button>
                    <button class="btn btn-outline-dark rounded-pill mx-1" role="button" [ngClass]="{'btn-ducky': filterState.hint}" (click)="filterState.hint = !filterState.hint; onFilter();">Hint</button>
                    <button class="btn btn-outline-dark rounded-pill mx-1" role="button" [ngClass]="{'btn-ducky': filterState.suggestion}" (click)="filterState.suggestion = !filterState.suggestion; onFilter();">Suggestion</button>
                    <button class="btn btn-outline-dark rounded-pill mx-1" role="button" [ngClass]="{'btn-ducky': filterState.warning}" (click)="filterState.warning = !filterState.warning; onFilter();">Warning</button>
                    <button class="btn btn-outline-dark rounded-pill mx-1" role="button" [ngClass]="{'btn-ducky': filterState.error}" (click)="filterState.error = !filterState.error; onFilter();">Error</button>
                </div>
            </div>
            <div class="col-4">
                <div class="text-end">
                    <h6>Search</h6>
                    <button class="mx-2 btn border-0" role="button" (click)="onSearchClear()" title="Clear search/filter text" [disabled]="filterState.filterText.length == 0">
                        <fa-icon [icon]="filterState.filterText.length == 0 ? 'search' : 'xmark'"></fa-icon>
                    </button>
                    <input type="text" [value]="filterState.filterText" maxlength="255" (keydown)="onSearchFilterChange($event)" />
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="navbar-nav">
                <li class="nav-item" *ngFor="let item of filteredItems">
                    <div class="col-12">
                        <feature-item-box *ngIf="!item.isHidden" [item]="item" [quickFixes]="quickFixes"></feature-item-box>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
