<div class="accordion" id="exampleBoxAccordion">
  <div class="card my-2">
    <div class="card-header bg-light-subtle my-0 py-0" id="exampleBoxHeading">
      @if (isInspection && inspectionExample) {
        <div class="btn btn-link text-nowrap text-decoration-none w-100" role="button" data-bs-toggle="collapse" data-bs-target="#featureItemBoxCollapseBody" aria-controls="featureItemBoxCollapseBody" (click)="inspectionExample.isCollapsed = !inspectionExample.isCollapsed">
          <div class="row my-0 py-0">
            <div class="col-1">
              &nbsp;
            </div>
            <div class="col-10">
              <h4>Example {{inspectionExample.sortOrder + 1}}</h4>
            </div>
            <div class="col-1">
              <div class="float-end">
                <h4>
                  @if (!inspectionExample.isCollapsed) {
                    <fa-icon class="mt-2" [icon]="['fas', 'chevron-up']"></fa-icon>
                  }
                  @if (inspectionExample.isCollapsed) {
                    <fa-icon class="mt-2" [icon]="['fas', 'chevron-down']"></fa-icon>
                  }
                </h4>
              </div>
            </div>
          </div>
        </div>
      }

      @if (isQuickFix && quickFixExample) {
        <div class="btn btn-link text-nowrap text-decoration-none w-100" role="button" data-bs-toggle="collapse" data-bs-target="#featureItemBoxCollapseBody" aria-controls="featureItemBoxCollapseBody" (click)="quickFixExample.isCollapsed = !quickFixExample.isCollapsed">
          <div class="row my-0 py-0">
            <div class="col-1">
              &nbsp;
            </div>
            <div class="col-10">
              <h4>Example {{quickFixExample.sortOrder + 1}}</h4>
            </div>
            <div class="col-1">
              <div class="float-end">
                <h4>
                  @if (!quickFixExample.isCollapsed) {
                    <fa-icon class="mt-2" [icon]="['fas', 'chevron-up']"></fa-icon>
                  }
                  @if (quickFixExample.isCollapsed) {
                    <fa-icon class="mt-2" [icon]="['fas', 'chevron-down']"></fa-icon>
                  }
                </h4>
              </div>
            </div>
          </div>
        </div>
      }

      @if (isAnnotation && annotationExample) {
        <div class="btn btn-link text-nowrap text-decoration-none w-100" role="button" data-bs-toggle="collapse" data-bs-target="#featureItemBoxCollapseBody" aria-controls="featureItemBoxCollapseBody" (click)="annotationExample.isCollapsed = !annotationExample.isCollapsed">
          <div class="row my-0 py-0">
            <div class="col-1">
              &nbsp;
            </div>
            <div class="col-10">
              <h4>Example {{annotationExample.sortOrder + 1}}</h4>
            </div>
            <div class="col-1">
              <div class="float-end">
                <h4>
                  @if (!annotationExample.isCollapsed) {
                    <fa-icon class="mt-2" [icon]="['fas', 'chevron-up']"></fa-icon>
                  }
                  @if (annotationExample.isCollapsed) {
                    <fa-icon class="mt-2" [icon]="['fas', 'chevron-down']"></fa-icon>
                  }
                </h4>
              </div>
            </div>
          </div>
        </div>
      }
    </div>

    @if (isInspection && inspectionExample) {
      <div>
        <div class="collapse" id="exampleBoxCollapseBody" [ngClass]="{'show': !inspectionExample.isCollapsed}" aria-labelledby="exampleBoxHeading" data-parent="exampleBoxAccordion">
          <div class="card-body">
            @if (inspectionExample.hasResult) {
              <p><fa-icon class="text-warning" [icon]="'lightbulb'"></fa-icon> This inspection would produce a result with the code in this example.</p>
            }
            @if (!inspectionExample.hasResult) {
              <p><fa-icon class="text-success" [icon]="'circle-check'"></fa-icon> This inspection would <strong>NOT</strong> produce a result with the code in this example.</p>
            }
            @for (module of inspectionExample.modules; track module) {
              <div class="row mx-1">
                <div class="col-12">
                  <div class="card mb-1 border-primary border-2">
                    <div class="card-header bg-primary-subtle">
                      <h6 class="align-text-bottom">
                        <span class="icon {{module.moduleTypeName}}" title="{{module.moduleTypeName}}" [ngClass]="getModuleIconClass(module)"></span>
                        <span>{{module.moduleName}} | {{module.moduleTypeName}}</span>
                      </h6>
                    </div>
                    <div class="card-body">
                      <div [innerHtml]="module.htmlContent"></div>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    }

    @if (isQuickFix && quickFixExample) {
      <div>
        <div class="collapse" id="exampleBoxCollapseBody" [ngClass]="{'show': !quickFixExample.isCollapsed}" aria-labelledby="exampleBoxHeading" data-parent="exampleBoxAccordion">
          <div class="card-body">
            @if (quickFixExample.modulesBefore.length > 0) {
              <p class="text-center mt-2">Module(s) <strong>before</strong> executing the quickfix action:</p>
            }
            @for (module of quickFixExample.modulesBefore; track module) {
              <div class="row mx-1">
                <div class="col-12">
                  <div class="card mb-1 border-primary border-2">
                    <div class="card-header bg-primary-subtle">
                      <h6 class="align-text-bottom">
                        <span class="icon {{module.moduleTypeName}}" title="{{module.moduleTypeName}}" [ngClass]="getModuleIconClass(module)"></span>
                        <span>{{module.moduleName}} | {{module.moduleTypeName}}</span>
                      </h6>
                    </div>
                    <div class="card-body ">
                      <div [innerHtml]="module.htmlContent"></div>
                    </div>
                  </div>
                </div>
              </div>
            }
            <hr />
            @if (quickFixExample.modulesAfter.length > 0) {
              <p class="text-center mt-2">Module(s) <strong>after</strong> executing the quickfix action:</p>
            }
            @for (module of quickFixExample.modulesAfter; track module) {
              <div class="row mx-1">
                <div class="col-12">
                  <div class="card mb-1 border-primary border-2">
                    <div class="card-header bg-primary-subtle">
                      <h6 class="align-text-bottom">
                        <span class="icon {{module.moduleTypeName}}" title="{{module.moduleTypeName}}" [ngClass]="getModuleIconClass(module)"></span>
                        <span>{{module.moduleName}} | {{module.moduleTypeName}}</span>
                      </h6>
                    </div>
                    <div class="card-body ">
                      <div [innerHtml]="module.htmlContent"></div>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    }

    @if (isAnnotation && annotationExample) {
      <div>
        <div class="collapse" id="exampleBoxCollapseBody" [ngClass]="{'show': !annotationExample.isCollapsed}" aria-labelledby="exampleBoxHeading" data-parent="exampleBoxAccordion">
          <div class="card-body">
            @for (module of annotationExample.modules; track module) {
              <div class="row mx-1">
                <div class="col-12">
                  <div class="card mb-1 border-primary border-2">
                    <div class="card-header bg-primary-subtle">
                      <h6 class="align-text-bottom">
                        <span class="icon {{module.moduleTypeName}}" title="{{module.moduleTypeName}}" [ngClass]="getModuleIconClass(module)"></span>
                        <span>{{module.moduleName}}</span>
                      </h6>
                    </div>
                    <div class="card-body ">
                      <div [innerHtml]="module.htmlContent"></div>
                    </div>
                  </div>
                </div>
              </div>
            }
            @if (annotationExample.modulesBefore.length > 0) {
              <p>Module(s) <strong>before</strong> synchronizing attributes</p>
            }
            @for (module of annotationExample.modulesBefore; track module) {
              <div class="row mx-1">
                <div class="col-12">
                  <div class="card mb-1 border-primary border-2">
                    <div class="card-header bg-primary-subtle">
                      <h6 class="align-text-bottom">
                        <span class="icon {{module.moduleTypeName}}" title="{{module.moduleTypeName}}" [ngClass]="getModuleIconClass(module)"></span>
                        <span>{{module.moduleName}}</span>
                      </h6>
                    </div>
                    <div class="card-body ">
                      <div [innerHtml]="module.htmlContent"></div>
                    </div>
                  </div>
                </div>
              </div>
            }
            @if (annotationExample.modulesAfter.length > 0) {
              <p>Module(s) <strong>after</strong> synchronizing attributes</p>
            }
            @for (module of annotationExample.modulesAfter; track module) {
              <div class="row mx-1">
                <div class="col-12">
                  <div class="card mb-1 border-primary border-2">
                    <div class="card-header bg-primary-subtle">
                      <h6 class="align-text-bottom">
                        <span class="icon {{module.moduleTypeName}}" title="{{module.moduleTypeName}}" [ngClass]="getModuleIconClass(module)"></span>
                        <span>{{module.moduleName}}</span>
                      </h6>
                    </div>
                    <div class="card-body ">
                      <div [innerHtml]="module.htmlContent"></div>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>
