<div class="row my-2 p-1 bg-info-subtle">
    <div class="col-10">
        <div class="row">
            <div class="col-6">
                <input id="nameBox" title="Display title of the blog article" type="text" [(ngModel)]="blogLink.name" maxlength="255" [required]="true" class="p-1 w-100 border-0 fw-semibold" />
            </div>
            <div class="col-3">
                <input id="authorBox" title="Author of the linked article" type="text" [(ngModel)]="blogLink.author" maxlength="255" [required]="true" class="p-1 w-100 border-0" />
            </div>
            <div class="col-3">
                <input id="publishedBox" title="Publish date of the linked article" type="text" [(ngModel)]="blogLink.published" maxlength="10" [required]="true" class="p-1 w-100 border-0" />
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-12">
                <input id="urlBox" title="URL to the blog article" type="text" [(ngModel)]="blogLink.url" maxlength="1023" [required]="true" class="p-1 w-100 border-0" />
            </div>
        </div>
    </div>
    <div class="col-2 align-content-center text-end">
        <button class="btn btn-danger m-1" (click)="onRemove()"><fa-icon [icon]="['fas', 'trash-can']"></fa-icon>&nbsp;Remove</button>
    </div>
</div>
