<div *ngIf="info">
    <p *ngIf="(info?.featureId) && info?.featureId != 0"><a href="/">Home</a>▸<a href="/features">Features</a>▸<a href="/features/codeinspections">CodeInspections</a>▸<a href="/features/quickfixes">QuickFixes</a>▸</p>
    <h1>{{info.title}}</h1>
    <div class="row">
        <div class="p-2">
            <p [innerHtml]="info.summary"></p>
        </div>
    </div>

    <div class="row">
        <div *ngIf="info.remarks && info.remarks.length > 0" class="row">
            <div class="alert alert-info bg-light-subtle mt-2 col-12">
                <h5>Remarks</h5>
                <p [innerHtml]="info.remarks"></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngIf="info.inspections.length > 0">
            <hr />
            <h6>
                <fa-icon [icon]="'lightbulb'"></fa-icon>&nbsp;Inspections
            </h6>
            <p class="small">This action is offered as quickfix to the following inspections:</p>
            <ul class="list-unstyled ms-2">
                <li *ngFor="let inspection of this.info.inspections" class="my-1">
                    <a class="text-decoration-none" href="/inspections/{{inspection.name}}">
                        <div class="card-highlight rounded-4 p-2">
                            <h6><span [ngClass]="inspection.getSeverityIconClass"></span>&nbsp;{{inspection.name}}</h6>
                            <p class="text-black-50 small" [innerHTML]="inspection.summary"></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let example of info.examples">
            <example-box [quickFixExample]="example"></example-box>
        </div>
    </div>

    <div class="row">
        <div class="small text-muted text-center">
            <a href="{{info.getGitHubViewLink()}}">View</a> | <a href="{{info.getGitHubEditLink()}}">Edit</a> this content on <fa-icon [icon]="['fab', 'github']"></fa-icon>&nbsp;GitHub
        </div>
    </div>
</div>
