<div *ngIf="feature">

    <div class="card my-2">
        <div class="card-body">
            <h4>{{feature.title}}</h4>
            <div [innerHtml]="summaryHtml"></div>

            <a *ngIf="hasOwnDetailsPage" role="button" class="btn btn-outline-dark btn-ducky rounded-pill mt-4" href="features/{{feature.name.toLowerCase()}}">
                <span>Details ▸</span>
            </a>

            <div *ngIf="feature.hasImage">
                <img alt="{{feature.title}}" src='../../../assets/{{feature.name.toLowerCase()}}.gif' class="img-fluid" />
            </div>

            <div class="row my-3" *ngIf="!hasOwnDetailsPage">
                <div class="col-12 text-center">
                    <button class="btn btn-outline-dark btn-ducky rounded-pill w-auto" role="button" data-toggle="collapse" data-target="#featureBoxDetailsBody" aria-controls="featureBoxDetailsBody" (click)="feature.isDetailsCollapsed = !feature.isDetailsCollapsed">
                        <div *ngIf="feature.isDetailsCollapsed">
                            Show more ▾
                        </div>
                        <div *ngIf="!feature.isDetailsCollapsed">
                            Show less ▴
                        </div>
                    </button>
                    <div id="featureBoxDetailsBody" class="collapse" [ngClass]="{'show': !feature.isDetailsCollapsed}">
                        <div [innerHtml]="feature.description"></div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="feature && user.isReviewer" class="card-footer">
            <div class="row text-muted">
                <div class="col-6 text-start">
                    <button *ngIf="feature.isCreatePending" class="btn btn-success rounded-pill m-1" role="button" (onclick)="onConfirmCreate()"
                            title="Approve as {{user.name}} pending create operation submitted {{feature.dateInserted}}">
                        <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
                        Confirm create
                    </button>
                    <button *ngIf="feature.isCreatePending"
                            class="btn btn-danger rounded-pill m-1" role="button"
                            title="Reject as {{user.name}} pending create operation submitted {{feature.dateInserted}}"
                            (click)="onRejectPendingCreate()">
                        <fa-icon [icon]="['fas', 'trash-can']"></fa-icon>
                        Reject
                    </button>
                    <div *ngIf="!feature.isCreatePending && !hasPendingDelete && pendingEdits.length > 0">
                        <a class="btn btn-primary rounded-pill m-1" role="button" href="audits/edits/{{pendingEdit.id}}"
                           title="Review as {{user.name}} pending edits submitted {{pendingEdit.dateInserted}} by {{pendingEdit.author}}">
                            <fa-icon class="mx-2" [icon]="'check-circle'"></fa-icon>
                            Pending edits
                        </a>
                        <div *ngIf="canToggleShowPendingEdit" >
                            <label class="form-text fw-bold d-inline-block" for="showPendingEditBox">
                                <input id="showPendingEditBox" type="checkbox" [(ngModel)]="showPendingEdit" />&nbsp;Preview pending edit
                            </label>
                        </div>
                    </div>
                </div>
                <div *ngIf="!feature.isCreatePending" class="col-6 text-end">
                    <edit-feature [feature]="feature" [action]="editAction" (onApplyChanges)="applyChanges"></edit-feature>
                    <edit-feature *ngIf="!hasOwnDetailsPage" [feature]="feature" [action]="editDetailsAction" (onApplyChanges)="applyChanges"></edit-feature>
                    <edit-feature *ngIf="!isProtected && !hasPendingDelete" [disabled]="hasPendingDelete" [feature]="feature" [action]="deleteAction"></edit-feature>
                    <button *ngIf="hasPendingDelete"
                            class="btn btn-danger rounded-pill m-1" role="button"
                            title="Approve as {{user.name}} pending delete operation submitted {{pendingDelete.dateInserted}} by {{pendingDelete.author}}"
                            (click)="onApprovePendingDelete()">
                        <fa-icon [icon]="['fas', 'trash-can']"></fa-icon>
                        Pending deletion
                    </button>
                </div>
                <div *ngIf="feature.isCreatePending" class="col-6 text-end">
                    <span class="small text-muted">Pending approval</span>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #confirmDeleteFeature let-modal>
    <div *ngIf="feature">
        <div class="modal-header align-content-center">
            <h4><img src="../../assets/vector-ducky-540.png" height="32">&nbsp;Delete Feature</h4>
            <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss('x')"></button>
        </div>
        <div class="modal-body my-2 mx-4">
            <div class="row">
                <h5>Final Confirmation</h5>
                <p>The record for feature <strong>{{feature.name}}</strong> will be permanently deleted. Proceed?</p>
                <hr />
                <p class="small text-muted"><fa-icon [icon]="'triangle-exclamation'"></fa-icon> This action will be logged and associated to your login.</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" (click)="modal.dismiss('x')">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="onConfirmApprovePendingDelete()">Confirm</button>
        </div>
    </div>
</ng-template>
