<div *ngIf="feature">

    <div class="card my-2">
        <div class="card-body">
            <h4>{{feature.title}}</h4>
            <div [innerHtml]="feature.shortDescription"></div>

            <a *ngIf="hasOwnDetailsPage" role="button" class="btn btn-outline-dark btn-ducky rounded-pill mt-4" href="features/{{feature.name.toLowerCase()}}">
                <span>Details ▸</span>
            </a>

            <div *ngIf="feature.hasImage">
                <img alt="{{feature.title}}" src='../../../assets/{{feature.name.toLowerCase()}}.gif' class="img-fluid" />
            </div>

            <div class="row my-3" *ngIf="!hasOwnDetailsPage">
                <div class="col-12 text-center">
                    <button class="btn btn-outline-dark btn-ducky rounded-pill w-auto" role="button" data-toggle="collapse" data-target="#featureBoxDetailsBody" aria-controls="featureBoxDetailsBody" (click)="feature.isDetailsCollapsed = !feature.isDetailsCollapsed">
                        <div *ngIf="feature.isDetailsCollapsed">
                            Show more ▾
                        </div>
                        <div *ngIf="!feature.isDetailsCollapsed">
                            Show less ▴
                        </div>
                    </button>
                    <div id="featureBoxDetailsBody" class="collapse" [ngClass]="{'show': !feature.isDetailsCollapsed}">
                        <div [innerHtml]="feature.description"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
